.b-image{
    background-image: url('//d1.awsstatic.com/Digital Marketing/acquisition/Hero/WEB_AbandonerExp_Hero_Purple02_1400x500.255d602052857fb2ed07ddd943daa80874f74d62.jpg');
    padding: 60px 60px;
}
.registration{
   color: white;
   display: flex;
   justify-content: center;
   font-weight: 500px;
   
}
#Millions{
    font-weight: 200px;
    font-size: 1.5rem;
    line-height: 1.3;
}
#Question{
    font-weight: 200px;
    font-size: 1.0rem;
    line-height: 1.3;
}
.aws-speacialist{ 
   display: flex;
   justify-content: center;
   align-items: center;
}
.specialist{
    display: flex;
    align-items: flex-start;
}
#question{
    border-bottom: 3px solid blue;
    border-top:none ;
    border-left: none;
    border-right: none;
    background: none;
    color: white;
}