h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0;
  margin-bottom: 0;
}
.CardComponent{
  display: flex;
  padding: 20px;
  justify-content: center;
}
.services__list{
  background-color: #005276;
  padding: 20px 0px;
  display: flex;
  justify-content: center; 
}
.expolore-our-solutions{
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  font-size: 33px;
  font-weight: 490;
  margin-top: 5px;
}
.Marketing_list{
  display: flex;
  justify-content: center;
 
}
.industry{
  margin: 30px 160px 0px 160px;
}
#indus{
  color: #232f3e;
  font-weight: 500;
  margin-bottom: 10px;
}
.product_list{
  display: flex;
  justify-content: center;
  margin: 30px 160px 0px 160px;
}
